<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div id="add">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <caption class="h3 text-danger">购物车</caption>
                <tr class="text-center">
                    <td>商品名称</td>
                    <td>商品价格</td>
                    <td>操作</td>
                </tr>
                <tr class="text-center" v-for="iphone in iphones">
                    <td>{{iphone.name}}</td>
                    <td>{{iphone.price}}</td>
                    <td><button class="btn btn-danger btn-xs" @click="delOne(iphone)">删除</button></td>
                </tr>
                <tr v-show="iphones.length">
                    <td colspan="3"><button class="btn btn-danger pull-right" @click="delAll">删除全部</button></td>
                </tr>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="productName" class="control-label">商品名称</label>
                    <input v-model="name" type="text" required id="productName" class="form-control" placeholder="请输入商品名称">
                </div>
                <div class="form-group">
                    <label for="productPrice" class="control-label">商品价格</label>
                    <input v-model="price" type="text" required id="productPrice" class="form-control" placeholder="请输入商品价格">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info" @click="add">添加</button>
                    <button type="reset" class="btn btn-waining" @click="reset">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script src="../2.0/vue.min.js"></script>
<script>
    var vm = new Vue({
        el:'#add',
        data:{
            price:'',
            name:'',
            iphones:[
                {name:'iphone5',price:2000},
                {name:'iphone6',price:3800},
                {name:'iphone7',price:6100}
            ]
        },
        methods:{
            delOne:function(product){
                //返回false就不要了
                this.iphones = this.iphones.filter(item=>{
                    return item != product;
                });
            },
            delAll:function(){
                this.iphones = [];
            },
            add:function () {
                this.iphones.push({name:this.name,price:this.price});
                this.reset();
            },
            reset:function () {
                this.name = '';
                this.price = '';
            }
        }
    })
</script>
</body>
</html>